.rooms-page__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

.rooms-page__create-room {
  margin-bottom: 20px;
  padding: 10px 20px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
}

.room-container {
  display: flex;
}

.room__users,
.room__name,
.room__join {
  margin-bottom: 10px;
}

.room {
  width: 200px;
  margin-right: 20px;
  border: 1px solid black;
  padding: 40px 10px 10px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.room__users {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 0.8em;
}

.room__name {
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
}

.room__join {
  padding: 8px 20px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
}
